
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.titulo {
    color: white;
    margin-left: 10px; 
}

body {
    background-color: #222622;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

.tipo {
    background-color: #222622;
    color: white;
    font-size: 23px;  
    align-items: flex-end;
    cursor: pointer;
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
}

.tipo img {
    height: 25px;
    width: 30px;
    margin-right: 0px;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none; 
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);  
}

.opcoes {
    color: white;
    display: flex;
    justify-content: center;
}

.link {
    padding: 0 1em;
}

.micro {
    text-align: center;
}

.micro img{
    width: 1500px;
}

.cont {
    text-align: left;
    font-family: "Alfa Slab One", serif;
    font-weight: 300;
    font-size: 70px;
    -webkit-text-stroke: 2px black; /* Contorno em torno do texto */
    color: blanchedalmond;
    margin-left: 40px;
    margin-bottom: 0px;
}

.duvida{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 50;
    font-size: 25px;
    margin-left: 150px;
    -webkit-text-stroke: 1.3px white;
    color:black;                                                                                                                                                                          margin-bottom: 100px;                                                                        
}

.top{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 100px;
    margin-top: 30px; 
}