.minha_conta {
	text-align: center;
	vertical-align: center;
	position: relative;
	top: 10.625rem;
	font-size: 2.5rem;
	padding-bottom: 1.25rem;
}

.formulario {
	display: flex;
	text-decoration: none;
	width: 81.25rem;
	margin: 0 auto;
	justify-content: space-between;
	gap: 1.25rem;
	border: none;
	height: 100vh;
	align-items: center;
}

.formulario h3 {
	font-size: 1.875rem;
}

.formulario input {
	border: none;
	background-color: #343842;
	border-radius: 0.625rem;
	width: 31.25rem;
	height: 1.875rem;
	font-size: 1.25rem;
	color: white;
}

.formulario input:focus {
	outline: none;
}

.formulario button {
	width: 9.375rem;
	font-size: 1.25rem;
	padding: 0.625rem 1.25rem;
	border-radius: 1.25rem;
	border: none;
	cursor: pointer;
}

.formulario .conectar {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 0.625rem;
	padding: 1.875rem;
	border-right: solid 1px white;    
}

.formulario .registrar {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 0.625rem;
	padding: 1.875rem;
}
