.lgd{
    display: flex;
    flex-direction: column;
}

.div1{
    display: flex;
    width: 20%;
    background-color: #DCDCDC;
    flex-direction: column;
    height: 100vh;
    position: fixed;
}

.user_name{
    display: flex;
    background-color: #C0C0C0;
    height: 100px;
    align-items: center;
    padding: 0 0 25px 50px;
}

.user_name h2{
    font-size: 15px;
}

.user_name img{
    width: 75px;
    height: 75px;
    margin-top: 25px;
    border-radius: 50%;
}

.menu_bar{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 18px;
    padding: 50px 0 0 20px;
}

.menu_bar div{
    display: flex;
    gap: 10px;
}

.menu_bar div img{
    width: 20px;
    height: 20px;
}

.div2{
    margin-left: 20%;
}

.div2 div h3{
    text-align:right ;
    margin-right: 50px;
    font-size: 50px;
} 

.plmdd{
    display: flex;
    width: 900px;
    flex-direction: column;
    box-shadow: 2px 2px 12px black;
    margin-top: 50px;
}

.plmdd div img {
    width: 300px;
    height: 150px;
    border-radius: 0;
    object-fit: contain;
    padding: 20px;
}

fieldset{
    width: 900px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

fieldset button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #C0C0C0;
}

.tipo_produto{
    width: 900px;
    text-align: center;
    margin-left: 20%;
}