.main_service{
    margin: 0 auto;
    width: 80%;
}

.tittle_service{
    background-color: #424a55b4;
    display: block;
    width: 100%;

}

.table{
    display: flex;
    align-items: center;
    width: 100%;
}

.input_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 0 50px;
}

.input_form input{
    width: 400px;
    height: 30px;
    background-color: #343842;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 2px 5px ;
    font-size: 19px;
}

.options{
    display: flex;
    gap: 10px;
}

.options button{
    border: none;
    width: 30px;
    height: 30px;
    background-color: #343842;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
