.imagem_principal {
	width: 100%;
	text-align: center;
	margin-top: 0.938;
	margin-bottom: 1.25rem;    
}

.imagem_principal .imagem_principal_conteudo {
	width: 86.875rem;
	border-radius: 8px;    
}

.shop {
	display: flex;
	height: 32.5rem;
	justify-content: center;
	gap: 1.875rem;
	margin-bottom: 3rem;
}

.shop .shop_content img {
	width: 20.313rem;
	height: 25rem;
	object-fit: cover;
	border-radius: 5px;
}

.shop .shop_content .shop_text {
	width: 18.75rem;
}

.shop .shop_content .shop_text h2 {
	font-size: 24px;
	text-align: center;
	vertical-align: center;
}

.shop .shop_content .shop_text span {
	color: darkblue;
	font-size: smaller;
	text-transform: lowercase;
}

.shop .shop_content .shop_text button {
	background-color: var(--cor-secundaria-light);
	box-shadow: none;
	border: 2px solid darkblue;
	padding: 12px;
	border-radius: 5px;
	color: var(--cor-texto-light);
	cursor: pointer;
	text-align: center;
}

.shop .shop_content .shop_text .ret {
	text-align: center;
}

.info{
	display: flex;
	justify-content: center;
	gap: 1.563rem;
	margin: 1.875rem 1.25rem 1.875rem 1.25rem;
	padding-top: 10px;
}

.info .info_coluna {
	display: flex;
	flex-direction: column;
}

.info .info_coluna .info_img {
	width: 28.125rem;
	object-fit: cover;
	height: 28.125rem;
	border-radius: 8px;
}

.info .info_coluna a {
	text-decoration: none;
	color: var(--cor-texto-light);
}

.info .info_coluna a p{
	background-color: var(--cor-secundaria-light);
	padding: 10px;
	margin-top: -5px;
	border-radius: 5px;
}

.author_section .author {
	width: 87.5rem;
	margin: 0 auto;
	background-color: var(--cor-secundaria-light);
	padding: 1.875rem 5.625rem;
	display: flex;
	gap: 1.875rem;
	flex-direction: column;
	border-radius: 5px;
}

.author_section .author .author_content {
	font-size: 1.875rem;
	text-align: center;
}

.author_section .author .bio {
	display: flex;
	align-items: center;
	gap: 1.875rem;
	font-size: 1rem;
}

.author_section .author .bio img {
	border-radius: 50%;
	width: 4.375rem;
}

.author_section .author .bio_content {
    display: flex;
    flex-direction: column;
}
