.msg_bemvindo{
	margin-left: 150px;
	padding: 10px 20px;
	font-size: 32px;
}

.navegacao_usuario{
	width: 700px;
	padding: 10px 30px;
    display: flex;
	justify-content: center;
	gap: 20px;
	border-top : solid 1px white ;
	margin: 0 auto;
}

.navegacao_usuario a{
   text-decoration: none;
   color: white;
   padding: 40px;

}

.imagem_principal {
	width: 100%;
	text-align: center;
	margin-top: 0.938;
	margin-bottom: 1.25rem;    
}

.imagem_principal .imagem_principal_conteudo {
	width: 86.875rem;
	border-radius: 8px;    
}

.shop {
	display: flex;
	height: 32.5rem;
	justify-content: center;
	gap: 1.875rem; 
}

.shop .shop_content img {
	width: 20.313rem;
	height: 25rem;
	object-fit: cover;
	border-radius: 5px;
}

.shop .shop_content .shop_text {
	width: 18.75rem;
}

.shop .shop_content .shop_text span {
	color: aqua;
	font-size: smaller;
	text-transform: lowercase;
}

.shop .shop_content .shop_text button {
	background-color: #22262c;
	box-shadow: none;
	border: 2px solid aqua;
	padding: 12px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.shop .shop_content .shop_text .ret {
	text-align: center;
}

.info{
	display: flex;
	justify-content: center;
	gap: 1.563rem;
	margin: 1.875rem 1.25rem 1.875rem 1.25rem;
	padding-top: 10px;
}

.info .info_coluna {
	display: flex;
	flex-direction: column;
}

.info .info_coluna .info_img {
	width: 28.125rem;
	object-fit: cover;
	height: 28.125rem;
	border-radius: 8px;
}

.info .info_coluna a {
	text-decoration: none;
	color: white;
}

.info .info_coluna a p{
	background-color: #343842;
	padding: 10px;
	margin-top: -5px;
	border-radius: 5px;
}

.author_section .author {
	width: 87.5rem;
	margin: 0 auto;
	background-color: #343842;
	padding: 1.875rem 5.625rem;
	display: flex;
	gap: 1.875rem;
	flex-direction: column;
	border-radius: 5px;
}

.author_section .author .author_content {
	font-size: 1.875rem;
}

.author_section .author .bio {
	display: flex;
	align-items: center;
	gap: 1.875rem;
	font-size: 1rem;
}

.author_section .author .bio img {
	border-radius: 50%;
	width: 4.375rem;
}

.author_section .author .bio_content {
    display: flex;
    flex-direction: column;
}

.gta {
	width: 100%;
	background-color: #343842;
	height:34.375rem;
	display: flex;
	align-items: center;      
}

.gta .history {
	display: flex;
	margin: 0 auto;
	width: 87.5rem;
	gap: 3.125rem;
	justify-content: space-between;
}

.gta .history_content {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.gta .history h3 {
	font-size: 1.875rem;
}

.gta .history .history_1 {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.gta .history .history_1 img{
	width: 25rem;
	height: 18.75rem;
	object-fit: cover;
	border-radius:  5px;   
}

.gta .history .history_2 {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.gta .history .history_2 img {
	width: 25rem;
	height: 12.5rem;
	border-radius: 5px;
}
