.user_bar{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
}

.user_icon{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px rgba(154, 148, 148, 0.588);
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.icon{
    font-size: 40px;
}


.main_service{
    margin: 0 auto;
    width: 80%;
}

.tittle_service{
    background-color: #424a55b4;
    display: block;
    width: 100%;

}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 0%;
}

.input_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 0 50px;
}

.input_form input{
    width: 400px;
    height: 30px;
    background-color: #343842;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 2px 5px ;
    font-size: 19px;
}

.options{
    display: flex;
    gap: 10px;
}

.options button{
    border: none;
    width: 30px;
    height: 30px;
    background-color: #343842;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.header_table_row{
   padding: 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}


.header_table {
    background-color: #f0f0f0;
    font-weight: bold; 
}

.header_table_row {
    border-bottom: 2px solid #ccc; 
}

td{
    padding: 20px;
}

th{
    padding: 25px;
}