@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: #22262c;
    font-family: "Inter", sans-serif;
}
.mensage{
    background-color:#2d3138 ;
    font-size: 16px;
    text-align: center;
    padding: 15px;
}
.cabecalho{
    position: sticky;
    top: -5px;
    background-color: #22262c;
    padding: 10px 30px 0 30px;
}
.inicio{
    display: flex;
    justify-content: space-between;
    margin: 15px 30px 10px 30px;
    align-items: center;
}
.nome{
    font-size: 28px;
}
.botao{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #22262c;
    border: none;
    color: white;
    font-size: 18px;
}

.utilidades{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
#icon{
    font-size: 17px;
    color: white;
}
.navegacao{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.navegacao__botao{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase ;
}
.titulo{
    text-align: center;
    margin: 20px 0 20px 0;
}
.marcas{
    background-color: white;
    color: black;
    text-align: center;
    display: inline;
    padding:  4px 8px 8px 8px;
    border-radius: 8px;
}


.imagem__principal{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.imagem__principal__conteudo{
    width: 1390px;
    border-radius: 8px;
}
.shop{
    display: flex;
    height: 520px;
    justify-content: center;
    gap: 30px;
    
}
.shop img{
    width: 325px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}
.shop_text{
    width: 300px;
}
.shop span{
    color: aqua;
    font-size: smaller;
    text-transform: lowercase;
}
.shop button{
    background-color: #22262c;
    box-shadow: none;
    border: 2px solid aqua;
    padding: 12px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}
.ret{
    text-align: center;
}
.info{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px 20px 30px 20px;
}
.info_coluna{
    display: flex;
    flex-direction: column;
}
.info_img{
    width: 450px;
    object-fit: cover;
    height: 450px;
    border-radius: 8px;
}

.autor{
    width: 1400px;
    margin: 0 auto;
    background-color: #343842;
    padding: 30px 90px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    border-radius: 5px;
}
.autor_content{
    font-size: 30px;
}
.bio{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
}
.bio img{
    border-radius: 50%;
    width: 70px;
}
.bio_content{
    display: flex;
    flex-direction: column;
}
.gta{
    width: 100%;
    background-color: #343842;
    height: 550px;
    display: flex;
    align-items: center;

}
.history{
    display: flex;
    margin: 0 auto;
    width: 1400px;
    gap: 50px;
    justify-content: space-between;
}
.history_content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.history h3{
    font-size: 30px;
}
.history_1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.history_1 img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius:  5px;
}
.history_2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.history_2 img{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}
footer{
    width: 1400px;
    margin: 0 auto;
}
.footer_social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social_media{
    display: flex;
    gap: 20px;
    font-size: 30px;
    text-align: center;
}
.social_media a{
    color: white;
}
.footer_content{
    display: flex;
    gap: 50px;
    padding: 30px 0;
}
.footer_links{
    display: flex;
    gap: 40px;
    list-style: none;
}
.links_rapidos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links_rapidos a{
    text-decoration: none;
    color: white;
}
.footer_footer{
    display: flex;
    justify-content: space-between;
    border-top: solid 0.5px white;
    padding: 15px 0;
    margin-bottom: 10px;
}
.rodape_botao{
    text-decoration: none;
    color: white;
}

.title{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 70px;
    margin-left: 100px;
    color: beige;
    text-transform: uppercase;
}
.subtitle{
    font-size: 20px;
    margin-left: 130px;
    margin-bottom: 30px;
}
.name_map{
    text-align: center;
}
.map{
    text-align: center;
    margin: 20px 0 30px 0;
}
.map_content{
    width: 1200px;
    height: 600px;
}
.banner{
    width: 100%;
    text-align: center;
    margin: 40px 0 50px 0;
}
.banner__content{
    border-radius: 10px;
}
.text_info{
    padding: 100px;
}
.logo_agradecimento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_branca{
    width: 300px;
}